<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    asahotak
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-kit.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Document</title>
  </head>
</head>

<body class="index-page sidebar-collapse">
  <div id="app">
      
    <div>
      <nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" v-on:click="currentPage = ''" href="">
                Home
            </a>
            <a v-if="isLoggedIn" class="navbar-brand" v-on:click.prevent="currentPage = 'edit'" href="">
              {{ currentEmail }}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <!-- <a href="#" onclick="signOut();">Sign out</a> -->

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <i class="material-icons">apps</i> Components
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                  <a href="./index.html" class="dropdown-item">
                    <i class="material-icons">layers</i> All Components
                  </a>
                  <a href="https://demos.creative-tim.com/material-kit/docs/2.1/getting-started/introduction.html"
                    class="dropdown-item">
                    <i class="material-icons">content_paste</i> Documentation
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="">
                  <i class="material-icons">cloud_download</i> Download
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                  href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                  <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook"><img src="https://assets.cobaltnitra.com/teams/repository/export/685/994e08a161005809f00505692530e/685994e08a161005809f00505692530e.png" style="width: 30px" alt="" /></a>
                </a>
              </li>
              <li v-show="isLoggedIn" class="nav-item">
                <a v-on:click.prevent="logout" class="nav-link text-danger" rel="tooltip" title=""
                  data-placement="bottom" href="">Logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="page-header header-filter clear-filter purple-filter" data-parallax="true"
        style="background-image: url('./assets/img/bg2.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
              <div class="brand">
                <h1>Asah Otak.</h1>
                <h3>Test Asah Otak.</h3>
              </div>
            </div>
          </div>
          <div>

            <div v-if="!isLoggedIn" class="container mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                  <div class="card card-login">
                    <form class="form" method="" action="">
                      <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">Login</h4>
                        <div class="social-line">
                          <div class="ml-5 g-signin2" data-onsuccess="onSignIn"></div>
                          </a>
                        </div>
                      </div>
                      <p class="description text-center">Or Be Classical</p>
                      <div class="card-body">
                        <!-- <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">face</i>
                            </span>
                          </div>
                          <input type="text" class="form-control" placeholder="First Name...">
                        </div> -->
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input v-model="email" type="email" class="form-control" placeholder="Email...">
                        </div>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">lock_outline</i>
                            </span>
                          </div>
                          <input v-model="password" type="password" class="form-control" placeholder="Password...">
                        </div>
                      </div>
                      <div class="footer text-center">
                        <a v-on:click.prevent="loginUser" href="#pablo"
                          class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div>



      <div class="main main-raised" v-if="isLoggedIn">
        <div v-if="currentPage == 'edit'">
        <div class="section section-basic">
          <div class="container">
            <h1>Edit Profile</h1>
            <hr>
            <div class="row">
              <!-- left column -->
              <div class="col-md-3">
                <div class="text-center">
                  <img style="max-width:200px; max-height:200px" v-bind:src="currentImage" class="avatar img-circle" alt="avatar">
                  <h6>Upload a different photo...</h6>
                  <input style="width:250px" type="file" id="file" v-on:change="uploadImage" class="form-control">
                  <input type="button" v-on:click.prevent="changeImage" class="mt-3 btn btn-primary" value="update">
                </div>
              </div>

              <!-- edit form column -->
              <div class="col-md-9 personal-info">
                <h3>Personal info</h3>

                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                      <input class="form-control" type="text" v-model="currentEmail" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                      <input class="form-control" type="password" >
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                      <input type="button" class="btn btn-primary" value="Save Changes">
                      <span></span>
                      <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>

        <div class="section section-basic" v-if="currentPage == 'games'" >
          <div  class="container">
            <!-- div setup -->
            <div class="title">
              <h2>Setup</h2>
            </div>
            <form action="" method="post" class="form-api">
              <label for="trivia_amount">Number of Questions:</label>
              <input type="number" name="trivia_amount" id="trivia_amount" class="form-control" min="1" max="50"
                value="10">

              <br>



              <label for="trivia_category">Select Category: </label>
              <select name="trivia_category" class="form-control">
                <option value="any">Any Category</option>
                <option value="9">General Knowledge</option>
                <option value="10">Entertainment: Books</option>
                <option value="11">Entertainment: Film</option>
                <option value="12">Entertainment: Music</option>
                <option value="13">Entertainment: Musicals &amp; Theatres</option>
                <option value="14">Entertainment: Television</option>
                <option value="15">Entertainment: Video Games</option>
                <option value="16">Entertainment: Board Games</option>
                <option value="17">Science &amp; Nature</option>
                <option value="18">Science: Computers</option>
                <option value="19">Science: Mathematics</option>
                <option value="20">Mythology</option>
                <option value="21">Sports</option>
                <option value="22">Geography</option>
                <option value="23">History</option>
                <option value="24">Politics</option>
                <option value="25">Art</option>
                <option value="26">Celebrities</option>
                <option value="27">Animals</option>
                <option value="28">Vehicles</option>
                <option value="29">Entertainment: Comics</option>
                <option value="30">Science: Gadgets</option>
                <option value="31">Entertainment: Japanese Anime &amp; Manga</option>
                <option value="32">Entertainment: Cartoon &amp; Animations</option>
              </select>

              <br>

              <label for="trivia_difficulty">Select Difficulty: </label>
              <select name="trivia_difficulty" class="form-control">
                <option value="any">Any Difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
              </select>

              <br>

              <label for="trivia_type">Select Type: </label>
              <select name="trivia_type" class="form-control">&gt;
                <option value="any">Any Type</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True / False</option>
              </select>

              <br>

              <input type="hidden" name="token"
                value="d94d3e4e79d2b58af7fc963a9f5a07384f090d54404a201820b37fc7f9a5919b">

              <br>

              <button class="btn btn-lg btn-primary btn-block" type="submit">Generate API URL</button>
            </form>
          </div>
          <div class="container" v-if="!isLoggedIn">
            <!-- div questions -->
            <div class="title">
              <h2>Questions</h2>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--  End Modal -->
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <!-- <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web. -->
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/main.js"></script>
  <script src="./assets/js/questions.js"></script>
  <script language="javascript">
      function fbshareCurrentPage()
      {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape('azharnazli.com'), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
  </script>
</body>

</html>